/out/production/HomeTasksJava/.idea/HomeTasksJava.iml
/out/production/HomeTasksJava/.idea/sonarlint/securityhotspotstore/7/3/73d4e2a370a6b005c97ce1130fa153c42ab3c27d
/.idea/sonarlint/issuestore/b/b/bb11e9536181339ed428d4a509813a9c6c16454b
/.idea/sonarlint*